$def with (ctx)
$ id_pos_ka = ctx.get('id_pos_ka')
$ waktu = ctx.get('waktu')
$ suhu = ctx.get('suhu')
$ ph = ctx.get('ph')
$ tds = ctx.get('tds')
$ tss = ctx.get('tss')
$ ot = ctx.get('ot')
$ no3 = ctx.get('no3')
$ no2 = ctx.get('no2')
$ nh3 = ctx.get('nh3')
$ po4 = ctx.get('po4')
$ cl = ctx.get('cl')
$ fe = ctx.get('fe')
$ mn = ctx.get('mn')
$ na = ctx.get('na')
$ kok = ctx.get('kok')
$ kob = ctx.get('kob')
$ mbas = ctx.get('mbas')
$ cl_2 = ctx.get('cl_2')
$ m_n_l = ctx.get('m_n_l')
$ kmno4 = ctx.get('kmno4')
$ f = ctx.get('f')
$ s = ctx.get('s')
$ so4 = ctx.get('so4')
$ cn = ctx.get('cn')
$ pb = ctx.get('pb')
$ cu = ctx.get('cu')
$ ni = ctx.get('ni')
$ cr = ctx.get('cr')
$ cr6 = ctx.get('cr6')
$ b_coli = ctx.get('b_coli')
$ lab = ctx.get('lab')
$ pos_name = ctx.get('pos_name')
$ pilihan_tahun = ctx.get('pilihan_tahun')
$var p_kualitas_air: active

$var extra_header:
  <style type="text/css">
      .table.boldtable > tbody td {
          font-weight: bold;
          font-size: 8pt;
          width: 10px;
      }
      .dropdown-menu>div>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
      }
  </style>

<div class="container">
  <h2><a href="/kualitasair/chart/$id_pos_ka"><span class="glyphicon glyphicon-chevron-left"></span></a> Parameter Uji Pos $pos_name 
    <div class="dropdown" style="float:right;">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <b>Pilih Tahun</b> <span class="caret"></span>
      </a>
      <div class="dropdown-menu" style="min-width: 112px;">
        $for tahun in pilihan_tahun:
            <div><a class="dropdown-item" href="/kualitasair/parameter/$id_pos_ka?tahun=$tahun">$tahun</a></div>
      </div>
    </div>
  </h2>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered boldtable">
      <td style="background-color: yellow;">Parameter Uji</td>
    $for d in waktu:
        <td style="background-color: yellow;width: 80px;">$d</td>

      <tr>
        <td style="background-color: yellow;">Suhu (C)</td>
        $for d in suhu:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Ph</td>
        $for d in ph:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">TDS (mg/L)</td>
        $for d in tds:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">TSS (mg/L)</td>
        $for d in tss:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">OT (mg/L)</td>
        $for d in ot:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">NO<sub>3</sub> (mg/L)</td>
        $for d in no3:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">NO<sub>2</sub> (mg/L)</td>
        $for d in no2:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">NH<sub>3</sub> (mg/L)</td>
        $for d in nh3:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">PO<sub>4</sub> (mg/L)</td>
        $for d in po4:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cl (mg/L)</td>
        $for d in cl:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Fe (mg/L)</td>
        $for d in fe:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Mn (mg/L)</td>
        $for d in mn:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Na</td>
        $for d in na:
            $if d == None:
                <td>-</td>
            $else:
                <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">KOK (mg/L)</td>
        $for d in kok:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">KOB (mg/L)</td>
        $for d in kob:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">MBAS</td>
        $for d in mbas:
            $if d == None:
                <td>-</td>
            $else:
                <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cl<sub>2</sub> (mg/L)</td>
        $for d in cl_2:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">M&L</td>
        $for d in m_n_l:
            $if d == None:
                <td>-</td>
            $else:
                <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">KMnO<sub>4</sub></td>
        $for d in kmno4:
            $if d == None:
                <td>-</td>
            $else:
                <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">F (mg/L)</td>
        $for d in f:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">S (mg/L)</td>
        $for d in s:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">SO<sub>4</sub> (mg/L)</td>
        $for d in so4:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cn (mg/L)</td>
        $for d in cn:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Pb (mg/L)</td>
        $for d in pb:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cu (mg/L)</td>
        $for d in cu:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Ni</td>
        $for d in ni:
            $if d == None:
                <td>-</td>
            $else:
                <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cr (mg/L)</td>
        $for d in cr:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Cr<sup>6+</sup> (mg/L)</td>
        $for d in cr6:
            <td>$d</td>
      </tr>

      <tr>
        <td style="background-color: yellow;">Total Coliform (JPT/100 mL)</td>
        $for d in b_coli:
            <td>$d</td>
      </tr>
      
      <tr>
        <td style="background-color: yellow;">Lab Uji</td>
        $for d in lab:
            <td>$d</td>
      </tr>
    </table>
  </div>
</div>