$def with(ctx)
$ pos = ctx.get('pos')
$ tanggal = ctx.get('tanggal')
$ sebelum = ctx.get('sebelum')
$ sesudah = ctx.get('sesudah')

$var p_klimatologi: active
$var js_foot:
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script>
      \$('#datepicker').datepicker({
        todayHighlight: true, 
        format: 'yyyy/mm/dd',
        autoclose: true});
        \$('#datepicker').on('changeDate', function() {
              console.log('changeDate');
              \$('#dp_input').val(\$('#datepicker').datepicker('getFormattedDate'));
              window.location = '/klimatologi?d=' + \$('#datepicker').datepicker('getFormattedDate');
              });
    </script>
<div class="container">
    <h2>Status:  <span id="datepicker" data-date="${tanggal.strftime('%Y/%m/%d')}">${tanggal.strftime('%d %b %Y')}</span> <span style="font-size: 14px" class="glyphicon glyphicon-calendar"></span></h2>
    <table class="table table-stripped">
	    <thead>
		    <tr>
			    <th>Pos</th>
			    <th>Curah Hujan (mm)</th>
			    <th>Suhu (&deg; C)</th>
			    <th>Kelembaban (%)</th>
			    <th>Kec. Angin (m/24jam)</th>
			    <th>Durasi Penyinaran (menit)</th>
			    <th>Penguapan (mm/24jam)</th>
		    </tr>
	    </thead>
	    <tbody>
        $for k in pos:
	    <tr><td>$k.agent.cname</td>
                <td>$k.ch_m</td>
		<td>${k.temp_min_m} | ${k.temp_max_m}</td>
		<td>${k.humi_m}</td>
		<td>${k.kec_angin_m}</td>
		<td>${k.penyinaran_m}</td>
		<td>${k.penguapan_m}</td>
            </tr>
        </tbody>
    </table>
</div>
