$var p_kekeringan: active
$var extra_header:
    <style type="text/css">
        body {
            overflow-y: scroll;
        }
        .content .single {
            height: auto;
            border-radius: 0;
            background-color: transparent;
            border: none;
        }
    </style>
<!-- -->
<div class="container">
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Januari - 2020</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jan-2020.jpg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-jan-2020.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Desember - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-des-2019.jpg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-des-2019.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>November - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-nov-2019.jpg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-nov-2019.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Oktober - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-okt-2019.jpg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-okt-2019.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
		<div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>September - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-september-2019.jpeg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-september-2019.jpeg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Agustus - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-agustus-2019.jpeg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-agustus-2019.jpeg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Juli - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-juli-2019.jpg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-juli-2019.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
        <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
            <h3>Juni - 2019</h3>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-juni-2019.jpeg'>
                            <img style="padding-bottom: 20px;" class="w-100" src="/static/images/kekeringan/200/200/peta-spi-juni-2019.jpeg" alt="...">
                        </a>
                    </div>
                </div>
                <br>
                <hr>
        </div>
</div>

