$var p_kekeringan: active
$var extra_header:
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            overflow-y: scroll;
        }

        .content .single {
            height: auto;
            border-radius: 0;
            background-color: transparent;
            border: none;
        }

        img.lazy {
            width: 100%; 
            height: 700px; 
            display: block;

            /* optional way, set loading as background */
            background-image: url('/static/loading.gif');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            }
    </style>

$var js_foot:
    <script src="/static/assets/vendor/jquery/jquery.lazy.min.js"></script>
    <script>
        \$(function() {
            \$('.lazy').lazy({
            placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7..."
        });
        });
    </script>
<!-- -->
<div class="container">
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>November - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-nov-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-nov-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Oktober - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-okt-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-okt-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>September - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-sep-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-sep-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Agustus - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-agu-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-agu-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Juli - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-juli-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-juli-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Juni - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jun-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-jun-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Mei - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-mei-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-mei-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>April - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-apr-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-apr-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Maret - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-mar-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-mar-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Februari - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-feb-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-feb-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Januari - 2020</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jan-2020.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-jan-2020.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Desember - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-des-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-des-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>November - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-nov-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-nov-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Oktober - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-okt-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-okt-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>September - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-sep-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-sep-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Agustus - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-agu-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-agu-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Juli - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jul-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-jul-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Juni - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jun-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-jun-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Mei - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-mei-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-mei-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>April - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-apr-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-apr-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Maret - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-mar-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-mar-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Februari - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-feb-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-feb-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
    <div class="single" style="background-color: #fff !important; overflow-y:hidden;">
        <h3>Januari - 2019</h3>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a class='gallery' href='/static/images/kekeringan/200/200/peta-spi-jan-2019.jpg'>
                        <img style="padding-bottom: 20px;" class="lazy" data-src="/static/images/kekeringan/200/200/peta-spi-jan-2019.jpg" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <hr>
    </div>
</div>

